<%- include("includes/header")%>
    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" id="page-contents">
                            <div class="col-md-3">
                                <%- include("includes/left-slidebar")%>
                            </div>
                            <div class="col-md-6">
                                <div class="central-meta">
                                    <div class="editing-interest">
                                        <h5 class="f-title">
                                            <i class="ti-bell"></i> All Notifications
                                        </h5>
                                        <div class="notification-box">
                                            <ul id="all-notifications">
                                                <% if(notifications){ %>
                                                    <% notifications.forEach((notification)=>{ %>
                                                        <li>
                                                            <figure><a href="/user/<%=notification.userId%>"><img
                                                                        src="<%=baseURL%>/image/<%=notification.profilePhoto%>"
                                                                        style="width:45px; height:45px; object-fit:cover;"></a>
                                                            </figure>
                                                            <div class="notifi-meta">

                                                                <p>
                                                                    <%= notification.content%>
                                                                </p>

                                                                <span>
                                                                    <%= notification.createdAt%>
                                                                </span>
                                                                <div class="nearly-pepls">
                                                                    <% if(notification.type==="group_join_request" ){%>
                                                                        <% if(notification.status=="Pending" ){%>
                                                                            <a href="javascript:void(0);"
                                                                                data-groupId="<%= notification.groupId%>"
                                                                                data-userId="<%= notification.userId%>"
                                                                                onclick="rejectRequestJoinGroup(this);"
                                                                                class="add-butn btn-unfriend"
                                                                                style="position:relative; left:5px;">Reject</a>

                                                                            <a href="javascript:void(0);"
                                                                                data-id="'+data._id+'"
                                                                                data-groupId="<%= notification.groupId%>"
                                                                                data-userId="<%= notification.userId%>"
                                                                                onclick="acceptRequestJoinGroup(this);"
                                                                                class="add-butn reqAccept"
                                                                                style="position:relative;">Accept</a>
                                                                            <%}%>
                                                                </div>
                                                                <%}%>
                                                            </div>
                                                        </li>
                                                        <% }) %>
                                                            <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        function rejectRequestJoinGroup(self) {
            const group_id = self.getAttribute('data-groupId')
            const sender_id = self.getAttribute('data-userId')

            const data = { group_id, sender_id }
            $.ajax({
                url: `${baseURL}/groups/rejectRequestJoinGroup`,
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    self.remove()
                    document.querySelector('.reqAccept').remove()
                    alert(response.message)
                },
                error: function (error) {
                    alert("Sorry some error occured plz try again later")
                }
            })
        }

        function acceptRequestJoinGroup(self) {
            const group_id = self.getAttribute('data-groupId')
            const sender_id = self.getAttribute('data-userId')

            const data = { group_id, sender_id }
            $.ajax({
                url: `${baseURL}/groups/acceptRequestJoinGroup`,
                method: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    self.remove()
                    document.querySelector('.reqAccept').remove()
                    alert(response.message)
                },
                error: function (error) {
                    alert("Sorry some error occured plz try again later")
                }
            })
        }
    </script>
    <%- include("includes/footer")%>