<%- include("includes/header") %>
    <section>
        <div class="feature-photo">
            <figure style="margin:1rem; padding:1rem;" id="figure">
                <img style="width:100%; height:700px; object-fit:cover;" class="cover-photo" id="cover-photo"
                    src="<%= user.coverPhoto %>" alt="no photo uploaded">
            </figure>
            <% if(!isOwner){%>
            <div class="add-btn">
                <span style="color:black; margin-top:1rem;" id="page-likes"></span>
          
                    <div class="dropdown p-1" >
                        <a class="add-butn bg-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                          </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Block user</a></li>
                          <li><a class="dropdown-item" href="#">Message</a></li>
                          <li><a class="dropdown-item" href="#">Report user</a></li>
                        </ul>
                    </div>
             

               
                    <% if(isFriend === undefined){%>
                    <a href="javascript:void(0);" id="btn-toggle-like" data-id="<%= user._id%>" onclick="toggleFriendRequest(this);" class="add-butn ">Friend</a>
                    <%}else{%>
                        <a href="javascript:void(0);" data-id= <%= user._id%> onclick="toggleFriendRequest(this);" class="add-butn bg-secondary btn-unfriend" onmouseover="this.style.color='white';">Unfriend</a>
                    <%}%>
                <%}%>
                    
            </div>
            <div class="container-fluid" style="margin-left:40rem; padding-left:0;">
                <div class="row merged">
                    <div class="col-md-2">
                        <div class="user-avatar">
                            <figure>
                                <img class="profile-image" id="profile-image" src="<%= user.profilePhoto %>"
                                    style="width: 100%; height:150px;object-fit:cover;" alt="No photo uploaded">
                            </figure>
                        </div>
                        <div style="padding-left:1.5rem;">
                            <div class="timeline-info">
                                <ul>
                                    <li class="admin-name">
                                        <h5 class="user-name">
                                            <%= user.username %>
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" id="page-contents">
                            <div class="col-md-3">
                                <%- include("includes/left-slidebar") %>
                            </div>
                            <div class="col-md-8">
                                <div class="central-meta">
                                    <div class="editing-info">
                                        <h5 class="f-title">
                                            <i class="ti-info-alt"></i>
                                            Bio
                                        </h5>
                                        <div class="form-group">
                                            <label><b>
                                                    <%= user.aboutMe %>
                                                </b></label>
                                            <p class="aboutMe"></p>
                                            <i class="mtrl-select"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="gap gray-bg">
                                    <div class="container-fluid">
                                        <% if(posts){%>
                                            <%- include('includes/posts.ejs', {posts:posts, isOwner, baseURL})%>
                                        <%}%>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

        <!-- edit modal starts -->

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit feed</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/user/updatePost", method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" id="caption" name="caption">
                            <label class="control-label">Enter caption</label>
                            <i class="mtrl-select"></i>
                        </div>
                    </div>
                    <input type="hidden" id="postId" name="postId">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- edit modal ends -->

    <script>
 
    </script>
    <%- include("includes/footer") %>

