<%- include("includes/header") %>
    <section>
        <div class="feature-photo">
            <figure style="margin:1rem; padding:1rem;" id="figure">
                <img style="width:100%; height:700px; object-fit:cover;" class="cover-photo" id="cover-photo"
                    src="/image/<%= user.coverPhoto %>" alt="no photo uploaded">
            </figure>

            <div class="add-btn">
                <span style="color:black; margin-top:1rem;" id="page-likes"></span>
                <!-- <a href="javascript:void(0);" onclick="toggleLikePage();" id="btn-toggle-like">Like</a> -->

                <% if(!isOwner){%>
                    <% if(isFriend === undefined){%>
                    <a href="javascript:void(0);" id="btn-toggle-like" data-id="<%= user._id%>" onclick="toggleFriendRequest(this);" class="add-butn">Friend</a>
                    <%}else{%>
                        <a href="javascript:void(0);" data-id= <%= user._id%> onclick="toggleFriendRequest(this);" class="add-butn btn-unfriend" onmouseover="this.style.color='white';">Unfriend</a>
                    <%}%>
                <%}%>
                        <!-- <a href="javascript:void(0);" id="btn-toggle-like" data-id="qwe" onclick="toggleFollowPage(this);" class="add-butn btn-unfriend">Unfollow</a> -->
                    
            </div>
            <div class="container-fluid" style="margin-left:40rem; padding-left:0;">
                <div class="row merged">
                    <div class="col-md-2">
                        <div class="user-avatar">
                            <figure>
                                <img class="profile-image" id="profile-image" src="/image/<%= user.profilePhoto %>"
                                    style="width: 100%; height:150px;object-fit:cover;" alt="No photo uploaded">
                            </figure>
                        </div>
                        <div style="padding-left:1.5rem;">
                            <div class="timeline-info">
                                <ul>
                                    <li class="admin-name">
                                        <h5 class="user-name">
                                            <%= user.username %>
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" id="page-contents">
                            <div class="col-md-3">
                                <%- include("includes/left-slidebar") %>
                            </div>
                            <div class="col-md-8">
                                <div class="central-meta">
                                    <div class="editing-info">
                                        <h5 class="f-title">
                                            <i class="ti-info-alt"></i>
                                            Bio
                                        </h5>
                                        <div class="form-group">
                                            <label><b>
                                                    <%= user.aboutMe %>
                                                </b></label>
                                            <p class="aboutMe"></p>
                                            <i class="mtrl-select"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="gap gray-bg">
                                    <div class="container-fluid">
                                        <% if(posts){ posts.reverse() %>
                                            <% posts.forEach(function(post){ %>
                                                <div class="loadMore" id="newsfeed">
                                                    <div class="central-meta item">
                                                        <%if(isOwner){%>
                                                        <div class="container dropdn">
                                                            <!-- <i class="ti-more dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false"></i> -->
                                                            <i class="fa-solid fa-ellipsis-vertical dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                            <!-- <i class="fa-solid fa-grip-dots"></i> -->
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                              <li><a href="javascript:void(0);" data-id=<%= post._id%> onclick="deletePost(this)" class="dropdown-item"><i class="fa-solid fa-trash-can"></i> Delete </a></li>
                                                              <li><a class="dropdown-item" href="javascript:void(0);" data-id=<%= post._id%> onclick="editPost(this)" data-bs-toggle="modal" data-bs-target="#editModal"> <i class="fa-solid fa-pen-to-square"></i> Edit</a></li>
                                                            </ul>
                                                          </div>
                                                          <%}%>
                                                        <ul id="displayPost">
                                                            <li style="width:100%;">
                                                                <div class="user-post">
                                                                    <div class="friend-info">
                                                                        <figure>
                                                                            <img src="/image/<%=post.owner.profileImage%>"
                                                                            style="width:45px; height:45px; object-fit:cover; border-radius:50%;">
                                                                        </figure>
                                                                        <div class="friend-name">
                                                                            <ins>
                                                                                <a href="#"><%= post.owner.name%>
                                                                                </a>
                                                                            </ins>
                                                                            <% var months = ["Jan", "Feb", "March", "May", "June", "july", "Aug", 'sept', "Oct", "Nov", "Dec"]; 
                                                                            var createdAt = new Date(post.createdAt);
                                                                            var date = createdAt.getDate()+"";
                                                                            date = date.padStart(2,"0")+" "+months[createdAt.getMonth()-1] + ", "+createdAt.getFullYear(); %>
                                                                            
                                                                            <span><%= date %></span>
                                                                        </div>
                                                                        <div class="post-meta">
                                                                            <div class="description">
                                                                                <p>
                                                                                    <%= post.caption %>
                                                                                </p>
                                                                            </div>
                                                                            <% if(post.isShared){%>
                                                                                <div class="central-meta item">
                                                                                    <div class="user-post">
                                                                                        <div class="friend-info">
                                                                                            <figure>
                                                                                                <img src="/image/<%= post.sharedPost.owner.profileImage%>" style="width:45px; height:45px; object-fit:cover;">
                                                                                            </figure>
                                                                                            <div class="friend-name">
                                                                                                <ins >
                                                                                                    <a href="#">
                                                                                                        <%= post.sharedPost.owner.name%>
                                                                                                    </a>
                                                                                                </ins>   
                                                                                               
                                                        
                                                                                                <span></span>
                                                                                            </div>
                                                                                            <div class="post-meta">
                                                                                                <div class="description">
                                                                                                    <p>
                                                                                                       beautiful momomm
                                                                                                    </p>
                                                                                                </div>
                                                                                                    <%if(post.sharedPost.contentType === 'image/jpeg' || post.sharedPost.contentType == 'image/png'){%>
                                                                                                        <img src="/image/<%= post.sharedPost.filename%>">
                                                                                                    <%}%>
                                                                                                    <%if(post.sharedPost.contentType === 'video/mp4' || post.sharedPost.contentType === 'vid/mp4'){%>
                                                                                                        <video style = "height:20%;width:100%;" controls src = "'+mainURL+"/"+data.sharePost.video+'"></video>
                                                                                                    <%}%>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            <% }%>

                                                                <% if(post.contentType == 'image/png' || post.contentType == 'image/jpeg'){ %>
                                                                    <img src="/image/<%= post.filename %>" alt="">
                                                                <% } %>
                                                                <% if(post.contentType === 'video/mp4' || post.contentType === 'vid/mp4'){ %>
                                                                    <video controls> <source src="video/<%= post.filename %>" type = "video/mp4"></video> 
                                                                <% } %>
                                                
                                            

                                        <% var likeColor = false %>
                                        <% if(post.likers.some(pst=>pst._id.toString() === user._id.toString())){likeColor = true} %>

                                                                            <div class="we-video-info">
                                                                                <ul>
                                                                                    <li>
                                                                                        
                                                                                        <span onclick="toggleLikePost(this);"
                                                                                            data-id=<%= post._id%>>
                                                                                            <% if(likeColor){%>
                                                                                            <i style="color:blue"
                                                                                                class="fa-solid fa-thumbs-up"></i>
                                                                                            <% }else{%>
                                                                                                <i
                                                                                                class="fa-solid fa-thumbs-up"></i>
                                                                                            <%}%>
                                                                                            <ins><%= post.likers.length%></ins>
                                                                                        </span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="comment"
                                                                                            title="Comments">
                                                                                            <i
                                                                                                class="fa fa-comments-o"></i>
                                                                                            <ins><%= post.comments.length%></ins>
                                                                                        </span>
                                                                                    </li>

                                                                                    <li>
                                                                                        <span title="Comments"
                                                                                            
                                                                                            data-id=<%= post._id%>>
                                                                                            <i
                                                                                                class="fa-solid fa-share-from-square"></i>
                                                                                            <ins><%= post.shares.length%></ins>
                                                                                        </span>
                                                                                    </li>
                                                                                </ul>
                                                                            </div><!-- like section ends -->
                                                                        </div>
                                                                    </div><!-- html+=createCommentsSection(data); -->
                                                                </div>
                                                    </div>
                                                    </li>
                                                    </ul>
                                                </div>
                                                <% }) %>
                                                    <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

        <!-- edit modal starts -->

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit feed</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/user/updatePost", method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" id="caption" name="caption">
                            <label class="control-label">Enter caption</label>
                            <i class="mtrl-select"></i>
                        </div>
                    </div>
                    <input type="hidden" id="postId" name="postId">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- edit modal ends -->

    <script>
 
    </script>
    <%- include("includes/footer") %>

